.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.building-form{
  max-width: 1024px;
  margin: auto;
}

fieldset{
  padding: 10px;
  text-align: left;
}

.action-button{
  margin: 5px;
  height: 25px;
  border: none;
  border-radius: 5%;
  box-shadow: 0 0 1px 1px rgba(129, 129, 129, 0.5);
  cursor: pointer;
}

.info-button{
  background-color: #145e9f;
  color: #fff;
}

.success-button{
  background-color: #008f4d;
  color: #fff;
}

.danger-button{
  background-color: #ff1733;
  color: #fff;
}

.elevator-stop{
  margin: 0 6px 6px 0;
  padding: 5px;
  background-color: #09d3ac;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}